.card-title{
  font-weight: bold;

}
.price{
  font-weight: bold;
}

.order
{
  margin-left: 85px;
}

.desc
{
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
