<div class="container">
  <div [hidden]="!_isCartEmpty" class="text-center my-5 ">
    <img src="assets/products/empty-state-cart.svg" width="300" height="300">
    <p class="fs-3 text-info">Your cart is empty</p>
    <a routerLink="/Home" class="btn btn-outline-dark mt-3">Go to shopping</a>
  </div>

  <div class="card my-5" [hidden]="_isCartEmpty">
    <div class="card-header">
      Cart
    </div>
    <div class="row pt-1" *ngFor="let item of cart.items">
      <img class=" col-3 offset-md-1 col-md-3" [src]="item.product.images[0]" alt="" height="50%">
      <div class="col-6 col-md-4 card-body">
        <h3 class="card-title">{{item.product.name}}</h3>
        <p class="desc card-text">
          {{item.product.description}}
        </p>
        <span class="my-1  price">Quntity</span>
        <input (change)="changeQuantity(item.product.id,$event)" class="mx-1" type="number" min="1"
          [max]="item.product.quantity" [value]="item.Quantity" style="width: 40px;">
        <button class="my-1" mat-stroked-button color="warn" (click)="removeFromCart(item.product.id)">Delete</button>

      </div>
      <div class=" col-3 offset-md-2 col-md-2 mt-3 price ">
        <span class="text-dark">{{item.product.price-(item.product.price * item.product.discount/100) |
          currency}}</span>
        <span class="text-secondary text-decoration-line-through px-2">{{item.product.price | currency}}</span>

      </div>
      <div class="border-bottom offset-1 col-10 offset-1 my-3"></div>
    </div>
    <div class="row order pb-3">
      <div class="col-3">
        <button mat-raised-button class="btn buy me-2" color="primary" (click)="payment()">Pay Now</button>
      </div>
      <div class="col-3">
        <span class="price">Total Price : {{cart.totalPrice|currency}}</span>
      </div>
      <div class="col-6">
        <div [hidden]="_isCartEmpty" class="mx-5">
          <div id="myPaypalButtons"></div>
        </div>
      </div>
    </div>
  </div>
</div>
