.card-title{
  font-weight: bold;

}
.price{
  font-weight: bold;
}

.order
{
  margin-left: 85px;
}

.desc
{
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buy {
  color: white;
  background-color: #003680;
  border-color: #682c7f #59266c #491f59;
  border-style: solid;
  border-width: 1px;
  background: linear-gradient(180deg, #6594d4, #003680);
}
