<div class="card">
  <h2>All Categories</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let dept of departments" (opened) = getCategories(dept.id)>
      <mat-expansion-panel-header >
        <mat-panel-title>
          {{dept.departmentName}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="mt-2" *ngFor="let catg of categoriesInDept">
        <a [routerLink]="['/Product/Category',catg.id]">{{catg.categoryName}}</a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
