footer {
  background-color: #fff;
}

footer p {
  color: #999;
}

footer h4 {
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color:#555
}

footer a {
  text-decoration: none;
}

#logo {
  color: #fcbf14;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}




.shop-now > p {
    line-height: 1.77;
    font-size: 14px;
    font :14px;
    font-family: sans-serif;

}

.shop-now > h4 {
  font-family: sans-serif;
  color: #999;
  font-size: 20px;


}
.list-inline-item a{
  color: #999;
}
.soci-icon{
  color: #999;
  font-size: 40px;
}
