
<footer class="mt-5" >
  <div class="container py-5 ">
    <div class="row  pt-3 ">

      <div class=" col-4  shop-now " >
      <h1 id=logo> Shopify</h1>
      <p class="text-justify">ShopNow is an online shop that makes shopping easy. Order
         online or visit one of our Hubs or Agents to place your order, pick up your
         delivery or get any after sales service you need!</p>
         <h4>Phone :+88 0173-919 0430</h4>

      </div>

      <div class="about col-2">
            <h4>shopify</h4>
            <a class="" href=""><P>About</P></a>
      </div>

      <div class="help col-3">

        <h4>Help</h4>
        <a class="" href=""><P>Cancelletion & Returns</P></a>
      </div>

      <div class="payment col-3">
        <h4>Payment</h4>
        <div class="d-flex">
          <img class=" p-2" src="assets/cc-visa.svg" width="15%" height="15%" >
          <img class=" p-2" src="assets/cc-mastercard.svg"width="20%" height="20%" >
          <img class=" p-2" src="assets/cc-amex.svg" width="20%" height="20%" >

        </div>
        <div>
          <img src="assets/cash-on-delivery.svg" width="53%" alt="">
        </div>

      </div>

    </div>

    <div class="pt-5 text-center ">
        <p>Latif Monjil, Modina Market, Sylhet.</p>
        <div class=" d-flex justify-content-center">
          <ul class="list-inline px-2 ">
            <li class="list-inline-item "><a href="">Return Policy</a></li>
            <li class="list-inline-item ">.</li>
            <li class="list-inline-item "><a href="">Tearms of Use</a></li>
            <li class="list-inline-item ">.</li>
            <li class="list-inline-item "><a href="">Privacy Polic</a></li>
          </ul>

          <div>
            <p>© 2019 ShopNow Technology Ltd.</p>
          </div>
        </div>

    </div>

  </div>


</footer>
