<nav>
  <div class="container-fluid">
    <div class="row align-items-center" style="min-height: 80px;">
      <div class="col-md-5 order-md-1 col-6 col-lg-3 order-1 row">
        <div class="col-2 d-lg-none menue">
          <a (click)="NavService.toggle()"><i class="fas fa-bars"></i></a>
        </div>
        <div class="col-10 col-lg-12">
          <a class="navbar-brand text-warning" id="logo" routerLink="/Home" routerLinkActive="active"
            id="logo">Shopify</a>
        </div>
      </div>

      <div class="col-md-4 order-md-2 col-12 col-lg-5 order-3 pb-3 pb-md-0">
        <div class="d-flex">
          <!-- <button class="btn border rounded-0 rounded-start" style="background-color: #fff;"><i class="fas fa-map-marker-alt"></i></button> -->
          <input [(ngModel)]="searchInp" class="form-control rounded-0" type="search" placeholder="Search" name="search"
            aria-label="Search">
          <button class="btn btn-success rounded-0 rounded-end" (click)="search()"><i
              class="fas fa-search"></i></button>
        </div>
      </div>

      <div class="
          col-md-3
          order-md-3
          col-6
          order-2
          col-lg-4
          align-self-center
          mt-3
        ">
        <ul class="d-flex align-self-center ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/User/useraction" routerLinkActive="active" [hidden]="!IsLogged">{{userName}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" mat-raised-link (click)="openDialog()" routerLinkActive="active" [hidden]="IsLogged">Login or Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" (click)="Logout()" [hidden]="!IsLogged">LogOut</a>
          </li>

          <li class="nav-item">
            <a class="nav-link position-relative" routerLink="/Cart">
              <i class="fas fa-shopping-cart"></i>
              <span class="numItems position-absolute badge rounded-pill bg-warning">{{cartQuanity}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!--  -->
