#logo {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  margin-left: 100px;
}

// .collapse {
//   justify-content: center;
//   margin-top: 10px;
// }

a {
  text-decoration: none;
}

i {
  padding: 4px;
}

nav {
  background-color: #003680;
}

form
{
  margin-left: 35px;
}

ul{
  margin-left: 120px;
}

ul li a {
  color: white;
  font-weight: bold;
}

ul li a i {
  font-size: 20px;
}

.badge {
  top: 0;
  left: 63%;
}

.container-fluid {
  align-items: baseline;
}

input:hover
{
  border: none;
}

.nav-link
{
  cursor: pointer;
}
