#logo {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}



i {
  padding-left: 4px;
}

nav {
  background-color: #003680;
}





ul li a {
  color: white;
}

ul li a i {
  font-size: 20px;
}

// .badge {
//   top: 0;
//   left: 63%;
// }

// .container-fluid {
//   align-items: baseline;
// }

input:hover
{
  border: none;
}

.nav-link
{
  cursor: pointer;
}
.menue{
  font-size: 30px;
  color: #fff;
  cursor: pointer;

}
ul {
  list-style: none;
}



@media (max-width: 600px) {
  #logo {
    font-size: 20px;
  }
  .menue {
    font-size: 20px;
  }
}
