<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand text-warning" id="logo" routerLink="/Home" routerLinkActive="active">Shopify</a>
    <!-- <form class="d-flex w-40">
      <div class="input-group mb-3">
        <input type="search" class="form-control rounded-0" placeholder="Search for products">
        <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </form> -->
    <form class="d-flex">
      <input class="form-control rounded-0" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success rounded-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon" style="color: white;">uuu</span> -->
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" hidden routerLink="/Profile" routerLinkActive="active">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" mat-raised-link (click)="openDialog()" routerLinkActive="active">Login or Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/Cart">
            <i class="fas fa-shopping-cart"></i>
            <span class="position-absolute badge rounded-pill bg-warning">0</span>
          </a>
        </li>


      </ul>

      <ul>

      </ul>
    </div>
  </div>
</nav>
