<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-warning" id="logo" routerLink="/Home" routerLinkActive="active">Shopify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex w-50">
        <div class="input-group mb-3">
          <!-- <div class="input-group-prepend">
            <span class="input-group-text rounded-0 bg-white">
              <i class="fas fa-map-marker-alt"></i>
            </span>
          </div> -->
          <input type="search" class="form-control rounded-0" placeholder="Search for products">
          <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
        </div>
        <!-- <input class="form-control" type="search" placeholder="Search" aria-label="Search"> -->
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" hidden routerLink="/Profile" routerLinkActive="active">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/User/Login" routerLinkActive="active">Login or Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/Cart">
            <i class="fas fa-shopping-cart"></i>
            <span class="position-absolute badge rounded-pill bg-warning">0</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
