strong {
  color: greenyellow;
  font-size: x-large;
}
.order {
  color: greenyellow;
  font-weight: bold;
}
.userName {
  font-weight: bold;
}

.first,
.third {
  text-align: center;
}
// .second,
// .third,
// .fourth,
// .first {
//   padding: 0;
// }
.fourth {
  //   padding-top: 13%;
  color: red;
}
// .accordion-body {
//     padding: 0;
// }
