strong {
  color: rgb(47, 179, 255);
  font-size: x-large;
}
.order {
  color: rgb(47, 179, 255);
  font-weight: bold;
}


.first,
.third {
  text-align: center;
}
// .second,
// .third,
// .fourth,
// .first {
//   padding: 0;
// }
.fourth {
  //   padding-top: 13%;
  color: red;
}
// .accordion-body {
//     padding: 0;
// }
.accordion-button:not(.collapsed)::after {
  display: none;}
