.container-fluid
{
  width: 90%;
  padding: 0;
}

.col-xl-3, .col-md-4, .col-sm-6
{
  padding: 0px .3rem;
  margin-bottom: .7rem;
}

.pagination-previous, .pagination-next
{
  border: solid 1px #2199e8;
  // background: ;
  //   color: #fefefe;
    cursor: default;
}
