.container-fluid
{
  width: 90%;
  padding: 0;
}

.col-xl-3, .col-md-4, .col-sm-6
{
  padding: 0px .3rem;
  margin-bottom: .7rem;
}
mat-sidenave-container{

  height: 100%;
}

mat-sidenave ,mat-sidenav-content{
  padding: 16px;
}

mat-sidenav{
  background-color: #fff;
  width: 320px;

}
