<div class="container">
  <h1 style="font-weight: bold">Edite user profile</h1>
  <form action="" (ngSubmit)="editeUserprofile()" [formGroup]="editeUserForm">
    <div>
      <div class="form-group mr-5">
        <label for="firstname">firstname</label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          formControlName="firstname"
          class="form-control"
        />
      </div>
      <div class="form-group mr-5">
        <label for="lastname">lastname</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          formControlName="lastname"
          class="form-control"
        />
      </div>
      <div class="form-group mr-5">
        <label for="username">username</label>
        <input
          type="text"
          name="username"
          id="username"
          formControlName="username"
          class="form-control"
        />
      </div>
      <div class="form-group mr-5">
        <label for="email">email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
      </div>
      <div class="form-group mr-5">
        <label for="address">address</label>
        <input
          type="text"
          name="address"
          id="address"
          formControlName="address"
          class="form-control"
        />
      </div>
      <div class="form-group mr-5">
        <label for="phone">phone</label>
        <input
          type="number"
          name="phone"
          id="phone"
          formControlName="phone"
          class="form-control"
        />
      </div>
    </div>
    <div class="mt-2">
      <input type="submit" value="save" class="btn btn-success" />
    </div>
  </form>
</div>
