
<div class="card ">

  <div class="card-body">
    <form novalidate (submit)="save()" [formGroup]="userForm">

      <!--First Name -->
      <div class="form-group row mb-2">
        <label class="col-md-12 col-form-label" for="firstNameId">First Name</label>
        <div class="col-md-12">
          <input class="form-control" id="firstNameId" type="text" placeholder="First Name (required)"
            formControlName="firstName"
            [ngClass]="{'is-invalid': (userForm.get('firstName').touched || userForm.get('firstName').dirty) && !userForm.get('firstName').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userForm.get('firstName').errors?.required">
              Please enter your first name.
            </span>
            <span *ngIf="userForm.get('firstName').errors?.minlength">
              The first name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>
      <!-- Last Name -->
      <div class="form-group row mb-2">
        <label class="col-md-12 col-form-label" for="lastNameId">Last Name</label>
        <div class="col-md-12">
          <input class="form-control" id="lastNameId" type="text" placeholder="Last Name (required)"
            formControlName="lastName"
            [ngClass]="{'is-invalid': (userForm.get('lastName').touched || userForm.get('lastName').dirty) && !userForm.get('lastName').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userForm.get('lastName').errors?.required">
              Please enter your last name.
            </span>
            <span *ngIf="userForm.get('lastName').errors?.maxlength">
              The last name must be less than 50 characters.
            </span>
          </span>
        </div>
      </div>
      <!-- Email -->
      <div class="form-group row mb-2">
        <label class="col-md-12 col-form-label" for="emailId">Email</label>
        <div class="col-md-12">
          <input class="form-control" id="emailId" type="email" placeholder="Email (required)" formControlName="email"
            [ngClass]="{'is-invalid': (userForm.get('email').touched || userForm.get('email').dirty) && !userForm.get('email').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userForm.get('email').errors?.required">
              Please enter your email address.
            </span>
            <span *ngIf="userForm.get('email').errors?.email">
              Please enter a valid email address.
            </span>
          </span>
        </div>
      </div>
<!-- username -->
      <div class="form-group row mb-2">
        <label class="col-md-12 col-form-label" for="username">Username</label>
        <div class="col-md-12">
          <input class="form-control" id="username" type="text" placeholder="username (required)" formControlName="username"
            [ngClass]="{'is-invalid': (userForm.get('username').touched || userForm.get('username').dirty) && !userForm.get('username').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userForm.get('username').errors?.required">
              Please enter your username.
            </span>
            <span *ngIf="userForm.get('username').errors?.minlength">
              the usernaem must be longer than 6 characters.
            </span>
          </span>
        </div>
      </div>
        <!-- password -->

      <!-- address -->
      <div class="form-group row mb-2">
        <label class="col-md-12 col-form-label" for="address">Address</label>
        <div class="col-md-12">
          <input class="form-control" id="address" type="text" placeholder="address (required)" formControlName="address"
            [ngClass]="{'is-invalid': (userForm.get('address').touched || userForm.get('address').dirty) && !userForm.get('address').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userForm.get('address').errors?.required">
              Please enter your address.
            </span>
            <span *ngIf="userForm.get('address').errors?.maxlength">
              address must be less than 50 charchter
            </span>
          </span>
        </div>
      </div>


      <!-- phone -->
      <div class="form-group row mb-2">
        <label class="col-md-12 col-form-label" for="phone">Phone</label>
        <div class="col-md-12">
          <input class="form-control" id="phone" type="text" placeholder="phone (required)" formControlName="phone"
            [ngClass]="{'is-invalid': (userForm.get('phone').touched || userForm.get('phone').dirty) && !userForm.get('phone').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userForm.get('phone').errors?.required">
              Please enter your phone.
            </span>

            <span *ngIf="userForm.get('phone').errors?.pattern">
              Please enter correct phone number.
            </span>
          </span>
        </div>
      </div>

      <!-- Gender -->

      <div class="form-group row mb-2">
        <label class="col-md-12 col-form-label" for="gender">Gender</label>
        <div class=" row col-md-12 ps-4">
          <input formControlName="gender" class="col-1" type="radio" name="gender"  value="0">M
          <input formControlName="gender" class="col-1" type="radio" name="gender"  value="1">F
        </div>
      </div>
        <!-- submit -->
      <div class="form-group row ">
        <div class="col-md-4">
          <button class="btn btn-primary mt-2" type="submit" style="width:100%"
            [disabled]="!userForm.valid">
            Save
          </button>
        </div>
      </div>
    </form>



















<!-- <<div class="container">
  <h1 style="font-weight: bold">Edite user profile</h1>
  <form action="" (ngSubmit)="editeUserprofile()" [formGroup]="editeUserForm">
    <div>
      <div class="form-group mr-5">
        <label for="firstname">firstname</label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          formControlName="firstname"
          class="form-control"
        />
      </div>
      <div class="form-group mr-5">
        <label for="lastname">lastname</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          formControlName="lastname"
          class="form-control"
        />
      </div>
      <div class="form-group mr-5">
        <label for="username">username</label>
        <input
          type="text"
          name="username"
          id="username"
          formControlName="username"
          class="form-control"
        />
      </div>
      <div class="form-group mr-5">
        <label for="email">email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
      </div>
      <div class="form-group mr-5">
        <label for="address">address</label>
        <input
          type="text"
          name="address"
          id="address"
          formControlName="address"
          class="form-control"
        />
      </div>
      <div class="form-group mr-5">
        <label for="phone">phone</label>
        <input
          type="number"
          name="phone"
          id="phone"
          formControlName="phone"
          class="form-control"
        />
      </div>
    </div>
    <div class="mt-2">
      <input type="submit" value="save" class="btn btn-success" />
    </div>
  </form>
</div> -->

<!-- <app-register></app-register> -->
