<div class="container w-50 mt-5">
  <form [formGroup]="loginForm" (onsubmit)="login()" class="card my-4 p-3">
    <div class="mb-3">
      <label for="username" class="form-label">username</label>
      <input type="text"
        [class.is-invalid]="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
        [class.is-valid]="loginForm.controls['username'].valid" class="form-control" id="username"
        formControlName="username">
      <small [hidden]="loginForm.controls['username'].valid || loginForm.controls['username'].untouched"
        class="text-danger">username Is Required</small>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">password</label>
      <input type="password"
        [class.is-invalid]="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
        [class.is-valid]="loginForm.controls['password'].valid" class="form-control" id="password"
        formControlName="password">
      <small [hidden]="loginForm.controls['password'].valid || loginForm.controls['password'].untouched"
        class="text-danger">password Is Required</small>
    </div>
    <button (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary w-25">Login</button>
  </form>

</div>
