.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
.card{
  background-color: #f1f1f199;
  border: none;
}

.form-check
{
  margin-left: 107px;
}
