p {
  letter-spacing: 0.00625em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #5f6368;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
h1 {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.25rem;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #202124;
  margin: 0 0 8px 0;
  padding: 0;
}
.section {
  border: 1px solid #909294;
  border-radius: 5px;
  margin-top: 15px;
}
span {
  color: #5f6368;
}
.section > div {
  padding: 25px 20px 0 20px;
}
img {
  margin-top: -10px;
  margin-bottom: 10px;
}
.localization {
 direction: rtl ;

}
