<div class="container">
  <div style="text-align: center">
    <h1>Personal info</h1>
    <p>Info about you and your preferences across Shopfy services</p>
  </div>
  <div>
    <div class="row pt-5">
      <div class="col-lg-7">
        <h1>Your profile info in Shopfy services</h1>
        <p>
          Personal info and options to manage it. You can make some of this
          info, like your contact details, visible to others so they can reach
          you easily. You can also see a summary of your profiles.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="../../../../assets/profile.png" alt="" />
      </div>
    </div>
  </div>
  <div class="section">
    <div>
      <div class="pb-5">
        <h2>Basic info</h2>
        <span
          >Some info may be visible to other people using Shpofy services.</span
        >
      </div>
      <div class="row" style="border-bottom: 1px solid #909294">
        <div class="col-lg-2"><span>PHOTO</span></div>
        <div class="col-lg-8">
          <span>A photo helps personalize your account</span>
        </div>
        <div class="col-lg-2">
          <img
            src="../../../../assets/avatar-7-15.png"
            width="80px"
            style="border-radius: 50%"
          />
        </div>
      </div>
      <div class="row pt-3" style="border-bottom: 1px solid #909294">
        <div class="col-lg-2"><span>Name</span></div>
        <div class="col-lg-10">
          <h3>{{ user.firstname }} {{ user.lastname }}</h3>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-lg-2"><span>Gender</span></div>
        <div class="col-lg-10">
          <h3>{{ user.gender }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div>
      <div class="">
        <h2>Contact info</h2>
      </div>
      <div class="row" style="border-bottom: 1px solid #909294">
        <div class="col-lg-2"><span>Email</span></div>
        <div class="col-lg-10">
          <h3>{{ user.email }}</h3>
        </div>
      </div>
      <div class="row pt-3" style="border-bottom: 1px solid #909294">
        <div class="col-lg-2"><span>Address</span></div>
        <div class="col-lg-10">
          <h3>{{ user.address }}</h3>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-lg-2"><span>Phone</span></div>
        <div class="col-lg-10">
          <h3>{{ user.phone }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
