<div class="container">

  <div>
    <div class="row ">
      <div class="col-lg-7">
        <!-- <h1>Your profile info in Shopfy</h1> -->

      </div>
      <div class="col-lg-5">
        <img src="../../../../assets/profile.png" alt="" />
      </div>
    </div>
  </div>
  <div class="section">
    <div>
      <div class="pb-5">
        <h2>Basic info</h2>

      </div>

      <div class="row pt-3" style="border-bottom: 1px solid #909294">
        <div class="col-lg-2"><span>Name</span></div>
        <div class="col-lg-10">
          <h3>{{ user.firstname }} {{ user.lastname }}</h3>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-lg-2"><span>Gender</span></div>
        <div class="col-lg-10">
           <div *ngIf="user.gender==0">
            <h3>Male</h3>
           </div>
           <div *ngIf="user.gender==1">
            <h3>Female</h3>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div>
      <div class="">
        <h2>Contact info</h2>
      </div>
      <div class="row" style="border-bottom: 1px solid #909294">
        <div class="col-lg-2"><span>Email</span></div>
        <div class="col-lg-10">
          <h3>{{ user.email }}</h3>
        </div>
      </div>
      <div class="row pt-3" style="border-bottom: 1px solid #909294">
        <div class="col-lg-2"><span>Address</span></div>
        <div class="col-lg-10">
          <h3>{{ user.address }}</h3>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-lg-2"><span>Phone</span></div>
        <div class="col-lg-10">
          <h3>{{ user.phone }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
